@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  box-sizing: border-box;
  --primary-color: #1B2430;
  --secondary-color: #51557E;
  --third-color: #816797;
  --fourth-color: #D6D5A8;
  --delete-color: #ff0707;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}

.container {
  background-color: var(--fourth-color);
  text-align: center;
  margin: 20px auto;
  width: 50%;
  padding: 40px;
  border-radius: 10px;
}

h1 {
  text-indent: 2em;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: left;
  color: var(--secondary-color);
  margin: 0;
}

input[type="text"] {
  height: 2.5em;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
}

input[type="submit"] {
  cursor: pointer;
  color: var(--fourth-color);  
  border-style: none;
  border-radius: 5px;
  height: 2.5em;
  padding: 5px 20px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.wrapper-add {
  margin: 10px auto 50px auto;
  text-align: center;
}

::placeholder {
  font-style: italic;
}

.wrapper-add input[type="text"]  {
  width: 30em;
  text-align: center;
}

.wrapper-add input[type="submit"]  {
  background-color: var(--secondary-color);
}

.wrapper-add input[type="submit"]:hover  {
  width: 100px;
  background-color: #242d70;
  color: #FFF;
}

.content {
  margin: 25px 0;
}

.content input[type="text"]  {
  width: 26em;
  background-color: rgb(206, 206, 206);
}

.content input[type="submit"] {
  color: #FFF;
  background-color: #d62e2e;
}

.content input[type="submit"]:hover {
  background-color: var(--delete-color);
}
